<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3 class="editable">General Information</h3>
                        <ul class="alt">
                            <li class="editable"><a href="#" class="editable">Nascetur nunc varius</a></li>
                            <li class="editable"><a href="#" class="editable">Vis faucibus sed tempor</a></li>
                            <li class="editable"><a href="#" class="editable">Massa amet lobortis vel</a></li>
                            <li class="editable"><a href="#" class="editable">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Faucibus</h3>
                        <ul class="alt">
                            <li class="editable"><a href="#" class="editable">Nascetur nunc varius</a></li>
                            <li class="editable"><a href="#" class="editable">Vis faucibus sed tempor</a></li>
                            <li class="editable"><a href="#" class="editable">Massa amet lobortis vel</a></li>
                            <li class="editable"><a href="#" class="editable">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2 class="editable">Aliquam Interdum</h2>
                <p class="editable">Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
                <ul class="icons">
                    <li class="editable"><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; {{site.owner.copyright}}. All rights reserved.</li>
            <li class="editable">Created by: </li>
        </ul>
    </div>
</footer>
