<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3 class="editable">General Information</h3>
                        <ul class="alt">
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Faucibus</h3>
                        <ul class="alt">
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                            <li class="editable"><br /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2 class="editable">social media</h2>
                <p class="editable">Like our Facebook page here:&nbsp;<a href="https://www.facebook.com/bigislandextracts/">big island extracts</a></p>
                <ul class="icons">
                    <li class="editable"><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li class="editable"><a class="icon fa-facebook cc-active" href="#"><span class="label">Facebook</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li class="editable"><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li class="editable"><a class="icon fa-pinterest cc-active" href="#"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; {{site.owner.copyright}}. All rights reserved.</li>
            <li class="editable">Created by: Big Island Extracts 2015</li>
        </ul>
    </div>
</footer>
